/* Hovering planet bounce animation */
.hover-planet {
    animation: hover-bounce 3s linear infinite;
}

@keyframes hover-bounce {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #111;
    color: #eee;
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header, footer, nav {
    padding: 1rem 0;
}

main, header, footer {
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {
    margin-top: auto;
}

nav {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

button {
    color: #000;
    border: 3px solid #000;
    background-color: #60C13D;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    transition: background-color .2s ease-in-out;
}

button:hover {
    background-color: #44FF00;
    transition: background-color .2s ease-in-out;
}

button svg {
    width: 1rem;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 2.5rem;
    border-radius: 25px;
    background: #000;
    outline: none;
    padding-right: .5rem;
    margin-bottom: 1rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #60C13D;
    cursor: pointer;
    margin-left: .25rem;
}

input[type="range"]::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #60C13D;
    cursor: pointer;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}